.page {
	flex-direction: column;
	font: 400 20px/1.5 sans-serif;
	display: flex;
	min-width: 1000px;
	margin: 0;
	padding: 0;
	height: 100%;
	
	&__header {
	}
	
	&__menu {
		align-self: flex-start;
		
		&--in-cart {
			flex: 1 0 auto;
			order: 1;
			flex-direction: column;
			align-items: center;
			border-width: 0;
			color: #FFF;
		}
	}
	
	&__content {
		box-sizing: border-box;
		width: 100%;
		flex: auto;
		
		&--grid {
			flex-direction: column;
			flex-wrap: nowrap;
		}
			
		&--in-address {
			justify-content: center ! important;
		}
		
		&--in-cart {
			flex-direction: column;
		}
	}

	&__footer {
		width: 100%;
	}
}